PORT=3000 # TCP port where application will be served. Default value is 3000
DAYS_IN_MONTH=30 # Number of days in month. Default value is 30
DAYS_IN_YEAR=360 # number of days in year. Default value is 360
MONTHS_IN_YEAR=12 # number of months in year Default value is 12